<div class="product-display mt-5">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Catalogo de productos</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="text" name="filterproducts" placeholder="Buscar productos" [(ngModel)]="filterproducts" aria-label="Search">
        </form>
      </nav>
    </div>
  </div>
  <div class="row"  >
    <div class="col-4"  *ngFor="let product of productsList | filter:filterproducts" >
      <div class="card mt-3 ml-4 " style="width: 18rem;">
        <img class="card-img-top"  src="../../assets/{{product.img}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" >{{product.name}}</h5>
          <p class="card-text"><strong>Precio: </strong>{{product.price}}</p>
          <p class="card-text"><strong>Unidades Disponibles: </strong>{{product.stock}}</p>
          

          <!-- Button trigger modal -->
        <a type="button"   routerLink="/details/{{product._id}}"class="btn btn-primary" >
          Ver mas
        </a>

      
          <a  (click)="agregar(product,cantidad.value)" type="submit" class=" ml-2 btn btn-warning" >Agregar</a> 
            <input type="number" class="ml-1"  #cantidad  id="cantidad"  name="cantidad" min="0" max="{{product.stock}}">
        </div>
      </div>
    </div>
  </div>
 </div>
  
