<div class="jumbotron">
    <h1 class="display-4">{{productModal[0].name}}</h1>
    <div class="row">
      <div class="col-7"><img  class="img-fluid img-thumbnail" src="../../assets/{{productModal[0].img}}" alt=""></div>
      <div class="col-5">
        <p class="lead mt-2 mb-5">Este, como todos nuestros vegetales, ha sido cultivado bajo los mas altos estandares de calidad y conservado de la misma manera .</p>
        <h5 class="mb-3"><strong>Precio: </strong>{{productModal[0].price}}</h5>
        <h5><strong>Unidades disponibles: </strong>{{productModal[0].stock}}</h5>
    <p class="lead">
      <a class="btn btn-primary btn-lg  mt-3" routerLink="/main" role="button">Cerrar</a>
    </p>
      </div>
    </div>
    
    
  </div>